@font-face {
  font-family: 'Generic Mobile System';
  src: url('../fonts/genericmobilesystem-webfont.woff2') format('woff2'),
       url('../fonts/genericmobilesystem-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0a5;
}

canvas#game {
  margin: 0;
  padding: 0;
  display: block;
  background-color: #0a5;
  cursor: grab;
}
